body {
    font-family: 'Song Myung', serif;
    background-color: #DBE3E5;
}

.header__logo {
    font-size: 2rem;
    display: inline-block;
}

.newentry_button {
    float: right;
}

.chart {
    width: 500px;
    height: 500px;
}