{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} <link rel="stylesheet" href="{% static "css/normalize.css" %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static "css/base.css" %}"> {% endcomment %}
    
    <title>Decafr</title>
    <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <h3 class="header__logo">Decafr</h3>
      {% if request.path == '/' %}
        <button class="newentry_button" onclick="document.location='{% url "decafrapp:newentry" %}'">New Entry</button>
      {% endif %}
    </div>
    {% block content %}
    {% endblock %}
    {% if request.user.is_authenticated %}
    <div>
      <ul>
        <li><a href="{% url 'decafrapp:home' %}">Home</a></li>
        <li><a href="{% url 'decafrapp:entries' %}">Entries</a></li>
        <li><a href="{% url 'decafrapp:drinks' %}">Drinks</a></li>
        <li><a href="{% url 'decafrapp:logout' %}">Logout</a></li>
      </ul>
    </div>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src='{% static 'scripts/main.js' %}' type='module'></script>
  </body>
</html>
