{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <title>Decafr</title>
  </head>
  <body>
    <h3>Decafr</h3>
    {% block content %}
    {% endblock %}
    {% if request.user.is_authenticated %}
    <div>
      <ul>
        <li><a href="{% url 'decafrapp:home' %}">Home</a></li>
        <li><a href="{% url 'decafrapp:logout' %}">Logout</a></li>
      </ul>
    </div>
    {% endif %}
  </body>
</html>
