{% extends 'shared/base.html' %}
{% block content %}
<div>
    <h3>Drinks</h3>
    {% for drink in drinks %}
    <div>
        <h4>{{ drink.name }}</h4>
        <p>Caffeine mg: {{ drink.caffeine_mg }}</p>
        <p>Drink type: {{ drink.type|title }}</p>
        <form action='{% url 'decafrapp:drink' drink.id %}' method="POST">
            {% csrf_token %}
            <input type="hidden" name="delete" value="DELETE">
            <button>Delete</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}